Review IPv6 allocation (at least 1x/64 except for point to point)

Hi, I came across your page and I humbly think you should revisit the your IPv6 planning allocation.
In summary:
- When you have to deal with point-to-point link , provision 1x/64 per link but assign to interfaces 1x/127 from that prefix
- When it's not a point-to-point link, provision a prefix lengh lower than 64 .

You can consider the following RFCs (_the list is not exhaustive_):

- [RFC 6164](https://datatracker.ietf.org/doc/html/rfc6164)
- [RFC 6177](https://datatracker.ietf.org/doc/html/rfc6177)
- [RFC6434](https://datatracker.ietf.org/doc/html/rfc6434)
- [RFC 7421](https://datatracker.ietf.org/doc/html/rfc7421)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 382e7ddc-aee5-f688-ea91-f0cb361b3269
* Version Independent ID: 470d0eef-a18c-2412-747a-b4514e1d69c5
* Content: [Azure Public IP address prefix - Azure Virtual Network](https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-address-prefix#prefix-sizes)
* Content Source: [articles/virtual-network/ip-services/public-ip-address-prefix.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/virtual-network/ip-services/public-ip-address-prefix.md)
* Service: **virtual-network**
* Sub-service: **ip-services**
* GitHub Login: @asudbring
* Microsoft Alias: **allensu**

@ongolaboy 
Thanks for your feedback! We will investigate and update as appropriate.

@ongolaboy Could you explain your issue in more detail and how it relates to Public IPv6 Prefixes (specifically, contiguous blocks of IPv6 addresses that are able to be used as Global Unicast Addresses)?  I'm not able to understand the specific ask.

@ongolaboy Checking on this again, as we don't understand what the specific ask is.

Hi @brianlehr  ..Sorry for the delay. My main concern is this implicit mapping you assume between how you make assignement in IPv4 and IPv6.


> 
>     /28 (IPv4) or /124 (IPv6) = 16 addresses
> 
>     /29 (IPv4) or /125 (IPv6) = 8 addresses
> 
>     /30 (IPv4) or /126 (IPv6) = 4 addresses
> 
>     /31 (IPv4) or /127 (IPv6) = 2 addresses


This mapping is not appropriate for IPv6. In fact when it comes to IPv6, you should forget how you were used to with IPv4. 

In IPv6 you can assign resources **based on the type of usage**. This question "_How many addresses can I use on 1 LAN?_" is **irrelevant** in IPv6. You will always have more than enough addresses. It's better to focus on the size of the prefix you want to assign for each type of usage.

Speaking of a VM for example. You need two things:

1. Interconnect that VM with a gateway somewhere . First type of usage: **point to point prefix**.
2. Assign a prefix the VM can use for its own purpose. Second type of usage: **customer prefix**.

You will be routing the customer prefix through the point to point prefix.

In your page, you are referring to customer prefix **but** at the same time you are coercing customers to use some IP for the point to point link. That's why I said this mapping is not efficient for IPv6. You can actually split and have two disctinct prefixes.



If I have 1 VM in your platform, in the ideal world I would expect

1. A prefix I will use to communicate with your gateway. Assume it's 1x/127 (provisionned from 1x/64) . 
2. A prefix I can use for my own needs in my VM.. Here the minimum must be 1x/64 . Ideally  1x/48 if you ask me.

We will be having 2 prefixes:

1. 1x/64 ,but you communicate to the customer 1x/127 out of that block
2. Something between 48 to 64.

Item (2) is what you **must** use in your page... Based on how you want to sell it to your customers you might vary that range. I mean from 48-64 ....

Again all that matters with IPv6 is the prefix size. Not the number of addresses.

That's my comprehension and current implementation of some of the RFCs mentionned in my initial post :) 

Hi again @ongolaboy,

Thanks for the follow up.  I believe I now better understand you; however, on Azure we keep a similar public vs private paradigm for IPv6 as we do for IPv4.  That is, you have a small amount of IPv6s (from Public IPv6 Prefixes or standalone IPv6 /32s) that can be used as public endpoints vs VNET/private space where you can use whatever range you want, with a much larger size for the VNET and /64s for subnet.

What I believe you are looking for is a /64 worth of Global Unicast Address space that could be routed publicly (e.g. in your example, you could pull out a /127 worth of IP space for public endpoints and use other chunks for VNET), which is not how our model is set up.  Having said that, this is helpful feedback as we iterate on our path to full IPv6 usability as primary across all of Azure.  Let me know if I'm not grok-ing you correctly.

#please-close

Hi @brianlehr , I'm fine with that. I will be looking forward your iteration towards full IPv6 usability.