Map a subdomain by using a CNAME record to default domain <app>.azurewebsites.net

According to the document, map "A CNAME record for the www name that points to the A record" but Azure App Services recommend to Map a subdomain by using a CNAME record.

Which record to choose

- To map the root domain (for example, contoso.com), use an A record. Don't use the CNAME record for the root record (for information, see RFC 1912 Section 2.4).- 
- To map a subdomain (for example, www.contoso.com), use a CNAME record.
- You can map a subdomain to the app's IP address directly with an A record, but it's possible for the IP address to change. The CNAME maps to the app's default hostname instead, which is less susceptible to change.
- To map a wildcard domain (for example, *.contoso.com), use a CNAME record
https://docs.microsoft.com/en-us/Azure/app-service/app-service-web-tutorial-custom-domain?tabs=cname

 The wording should be change to "A CNAME record for the www name that points to the default domain <app>.azurewebsites.net"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40788e0-33cd-2bd0-f2a0-4254123a714a
* Version Independent ID: c7fb7321-2873-6aaa-ab5d-57aeee075e90
* Content: [Tutorial - Create custom Azure DNS records for a web app](https://docs.microsoft.com/en-us/azure/dns/dns-web-sites-custom-domain)
* Content Source: [articles/dns/dns-web-sites-custom-domain.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/dns/dns-web-sites-custom-domain.md)
* Service: **dns**
* GitHub Login: @rohinkoul
* Microsoft Alias: **rohink**

Hello @nelroosevelt 
Thank you for your feedback! We will review and update as appropriate.

Hello @nelroosevelt, Thank you for the feedback. I have made a PR to make the suggested change and is currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you! 