Documentation refers to non-functioning redirect URI behavior

The quoted segment indicates that it is possible to use wildcards in redirect URIs by applying them directly to the manifest, using a format like:

```
{
	"url": "https://*.contoso.com",
	"type": "Spa"
}
```
> Wildcard URIs are currently unsupported in app registrations configured to sign in personal Microsoft accounts and work or school accounts. Wildcard URIs are allowed, however, for apps that are configured to sign in only work or school accounts in an organization's Azure AD tenant. To add redirect URIs with wildcards to app registrations that sign in work or school accounts, use the application manifest editor in App registrations in the Azure portal. Though it's possible to set a redirect URI with a wildcard by using the manifest editor, we strongly recommend you adhere to section 3.1.2 of RFC 6749. and use only absolute URIs.

Specifically, I have tried adding a redirectUri like so:

```
{
	"url": "https://*.westeurope.2.azurestaticapps.net/login",
	"type": "Spa"
}
```

However, this works just as poorly as if it had not been added at all, whereas the full URL obviously works fine.

I understand that what I am trying to do is by all means a poor approach from a security perspective, but putting that aside, I think that it is important that the documentation does not refer to non-existing features, or at least specifies with more granularity under which limitations they may work.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cc4c5921-4070-a714-44e6-c4309fe5fd53
* Version Independent ID: c52c5c94-bb2e-10cb-9673-98aae4aa37d4
* Content: [Redirect URI (reply URL) restrictions - Microsoft Entra](https://learn.microsoft.com/en-us/azure/active-directory/develop/reply-url)
* Content Source: [articles/active-directory/develop/reply-url.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/active-directory/develop/reply-url.md)
* Service: **active-directory**
* Sub-service: **develop**
* GitHub Login: @madansr7
* Microsoft Alias: **saumadan**

It appears I may have been too quick to dismiss the functionality as not working.

Rather than lacking functionality, I experienced a longer delay between setting the value and having it work as expected (minutes for the wildcard URL, as compared to seconds for the hardcoded URL).

Feel free to close the issue, or if you can provide any further clarity to the documentation such as whether a longer delay should be expected for wildcard URIs, feel free to add that.

Thanks.

@jgarplind 
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

Closing based on previous comments. 
@jgarplind do you remember the time delay that you faced? Are you able to repro the issue with the same time or longer delay? Reply url propagation is usually not an issue but we can investigate or update docs based on the recurrence of the issue. Keep us posted.
#please-close 