hashing algorithm of the guid function

Hello Microsoft,

I would like to ask you to publish the hashing algorithm of the `guid` function. Unfortunately, I have not found it anywhere. I do not think that it is something that needs to be kept private. (I believe it does not open a security issue, correct me if I am wrong.)

We use the `guid` function to construct role assignment names in our ARM templates. We call the `guid` function with three arguments (resource ID, role ID and principal ID).

Why we need it:

We want to add role assignments to our _desired state_ because a good permission management is important to us. The _desired state_ should be created before deploying Azure resources and would be fully rendered (do not use any dynamic values). We use the _desired state_ for two main use cases:

1) to generate configuration items for our CMDB. And we append the Azure resource ID to an additional CMDB field. This is very useful for incident resolution.

2) We have automation to identify resources for deletion (orphaned or deprecated resources). As you know role assignments are not deleted even in full mode ARM deployment.

I know that role assignments could be managed by the tuple of 3 properties, but it would be an unnecessary complication and it breaks the consistency of the overall solution.

I hope this clarifies the purpose of this request.

FYI @jjindrich @tkubica12


---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8442979b-55b6-b159-a884-c8fc104eac0b
* Version Independent ID: e9572f8c-b299-2553-ba0f-ec83243e1ad7
* Content: [Template functions - string - Azure Resource Manager](https://learn.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-string#guid)
* Content Source: [articles/azure-resource-manager/templates/template-functions-string.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-resource-manager/templates/template-functions-string.md)
* Service: **azure-resource-manager**
* Sub-service: **templates**
* GitHub Login: @mumian
* Microsoft Alias: **jgao**

@pohorely 
Thanks for your feedback! We will investigate and update as appropriate.

@mumian, I kindly remind this issue.

@pohorely - can you share your email address to jgao@microsoft.com.

@pohorely, the function uses the algorithm from RFC 4122 §4.3.  See https://www.[ietf.org/rfc/rfc4122.txt](https://www.ietf.org/rfc/rfc4122.txt).  The original source is https://github.com/LogosBible/Logos.Utility/blob/e7fc45123da090b8cf34da194a1161ed6a34d20d/src/Logos.Utility/GuidUtility.cs.  Let me know if you have any additional questions.

#please-close 

I have created a PR with the algorithm information.  The article will be updated later today. 



Hello @mummian,

First of all I would like to **thank you very much** for sharing the algorithm, that's just great!

Unfortunately I still couldn't reproduce the same result returned by ARM.

I'm trying to call the `GuidUtility.Create(Guid namespaceId, string name, int version)` method and I'm still confused about what value is used as `namespaceId` and how several strings are converted into one.