Incorrect default user/group attribute mappings

In this article both user and group default mappings show objectId mapped to ID attribute. Which is not what default mappings look like in newly created provisioning settings in Azure Portal. Instead, objectId is correctly mapped to "externalId" attribute. 
Moreover, no mapping should be allowed to "id" as RFC 7643 section 3.1 states that "id" attribute is read-only and "The value of the id attribute is always issued by the service provider and MUST NOT be specified by the client." So Azure AD SCIM client implementation seem to be violating SCIM standard by allowing mapping to "id" attribute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45cb3eec-7693-4e22-bcde-3f85d5a4be14
* Version Independent ID: 506c3302-e823-8f1e-d547-083ef0b664df
* Content: [Automate provisioning of apps using SCIM in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/use-scim-to-provision-users-and-groups#table-1-default-user-attribute-mapping)
* Content Source: [articles/active-directory/manage-apps/use-scim-to-provision-users-and-groups.md](https://github.com/Microsoft/azure-docs/blob/master/articles/active-directory/manage-apps/use-scim-to-provision-users-and-groups.md)
* Service: **active-directory**
* Sub-service: **app-mgmt**
* GitHub Login: @msmimart
* Microsoft Alias: **mimart**

@older Thank you for your feedback . We will investigate and update this thread further. 

@msmimart  Michele, could this be verified and updated in the document ?

@older thanks for the feedback. I'm looking into this with the product team.

It seem to be fixed in 99d0aa6