problems with azure AD response

Hi. I tried acquire the auth code as mentioned in the docs and it works fine. But when i changed the response_type to 'token', azure ad redirects back to https://abc.com/#access_token=ey...... instead of https://abc.com/?access_token=ey......This is a problem as we are not able to fetch the parameter using Request.params.Get("access_token"). We have used the client id of a native client while generating the auth url. Does that cause any problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independent ID: 846fe3ae-21cb-e030-f68f-db73acef0c74
* Content: [Understand the OAuth 2.0 authorization code flow in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code#refreshing-the-access-tokens)
* Content Source: [articles/active-directory/develop/active-directory-protocols-oauth-code.md](https://github.com/Microsoft/azure-docs/blob/master/articles/active-directory/develop/active-directory-protocols-oauth-code.md)
* Service: **active-directory**
* GitHub Login: @hpsin
* Microsoft Alias: **hirsin**

@Rachitgupta1994 I understand that the steps you followed in document works as expected. 

I request you to open a Stackoverflow thread with azure-active-directory tag so that online community can help with your scenario. Below is the link to Stackoverflow for your reference - 

[https://stackoverflow.com/](https://stackoverflow.com/)

I have posted the question. There may be a workaround. Still don't you think this is something that should be corrected from the Azure AD end instead of people going for workarounds. 

Hi,
The implicit flow for oauth 2.0 uses a fragment to return the token. Please
see RFC 6749 section 4.2.2 for the specifics of the request. We cannot
change from this behavior, but if you look up the implicit grant type you
can find examples of extracting the parameters from the fragment.

Thanks,
Hirsch

On Thu, Mar 29, 2018, 10:11 PM Rachitgupta1994 <notifications@github.com>
wrote:

> I have posted the question. There may be a workaround. Still don't you
> think this is something that should be corrected from the Azure AD end
> instead of people going for workarounds.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/MicrosoftDocs/azure-docs/issues/6474#issuecomment-377446835>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ABltO61ptDWazNAdNXJ3JMF7eG27IzeIks5tjb6XgaJpZM4TAiFg>
> .
>


@Rachitgupta1994 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.