ARM template guid() function still needs some clarification

In the description of ARM template guid() function there's a remark stating the following:

> The guid function implements the algorithm from [RFC 4122 §4.3](https://www.ietf.org/rfc/rfc4122.txt). The original source can be found in [GuidUtility](https://github.com/LogosBible/Logos.Utility/blob/e7fc45123da090b8cf34da194a1161ed6a34d20d/src/Logos.Utility/GuidUtility.cs) with some modifications.

Could we please know what exactly was modified in the mentioned GUID utility function on the ARM side so we can generate the same deterministic GUIDs in the code as ARM does.

I presume but not sure that namespace ID used in generation of UUID defined in RFC 4122 was replaced by some randomly picked value to make the UUID Microsoft's unique.

This would give us more flexibility in automation, for example while working with RBAC role assignments.

Thanks,
Ihor

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8442979b-55b6-b159-a884-c8fc104eac0b
* Version Independent ID: e9572f8c-b299-2553-ba0f-ec83243e1ad7
* Content: [Template functions - string - Azure Resource Manager](https://learn.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-string#guid)
* Content Source: [articles/azure-resource-manager/templates/template-functions-string.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-resource-manager/templates/template-functions-string.md)
* Service: **azure-resource-manager**
* Sub-service: **templates**
* GitHub Login: @mumian
* Microsoft Alias: **jgao**

@rootik 
Thanks for your feedback! We will investigate and update as appropriate.

@rootik, Thank you for the feedback, 

@mumian, could you please review this and share your thoughts. Thank you

The namespace is set to `11fb06fb-712d-4ddd-98c7-e71bbd588830` and the version is set to `5` in our implementation of the `guid()` function. The value is calculated by converting every parameter of the `guid()` function to a string and then joining them together with `-` delimiters between each parameter.

@majastrz this is fantastically helpful information. You are a life saver 💪

#please-close 