Authorizing multiple scopes

I'm trying to authorize multiple scopes for a script and having trouble with multiple scopes. If I hit the /devicecode endpoint with two scopes "offline_access 499b84ac-1321-427f-aa17-267ca6975798/user_impersonation https://management.azure.com/user_impersonation" the flow works fine for the user. They go to the site, log in, accept all the scopes and it says they're logged in. Then the /token enpoint returns with "AADSTS28000: Provided value for the input parameter scope is not valid because it contains more than one resource. Scope ....". But now that the user has accepted both scopes, I can do a single /device_code prompt without a scope to get a refresh token, and then get the respective access tokens. It seems that the token endpoint should really accept a scope parameter so that I can get the user to authorize all the scopes, and then get the access tokens for the respective scopes that have been authorized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc32c3-9e21-a56a-f876-3e750576f228
* Version Independent ID: 83231247-55a8-e69b-0712-8c7b1481a02d
* Content: [Use Microsoft identity platform to sign in users on browser-less devices](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code#feedback)
* Content Source: [articles/active-directory/develop/v2-oauth2-device-code.md](https://github.com/Microsoft/azure-docs/blob/master/articles/active-directory/develop/v2-oauth2-device-code.md)
* Service: **active-directory**
* Sub-service: **develop**
* GitHub Login: @rwike77
* Microsoft Alias: **ryanwi**

@davidcorrigan714 Thank you for your feedback . We will investigate and update this thread. 

@davidcorrigan714 Are you suggesting this as a feature request? I am a bit confused about the ask. 

AFAIK, you can receive an access token for only one resource at a time and it can contain multiple scopes. So, having multiple scopes from multiple resources at the same time is causing the issue in your scenario. 

It's a feature request on the token endpoint (unless there is another way to this that I'm not understanding). The problem is that the device code endpoint is essentially a two in one. It's using the scope parameter to both prompt the user to authorize the desired scopes, and specify the desired access tokens. Prompting the user allows multiple scopes, but getting the access tokens does not. So by allowing the token endpoint to accept a scope parameter in the device code flow it would allow the user to authorize both scopes, and the app to get both tokens. For example say I have scope 1 on Azure DevOps and scope 2 on Graph.

Let's see if I can make this legible with GitHub formatting (assume the client ids & codes are exchanged properly):

Currently an error case:
```
POST /device_code
scope: scope 1 + scope 2

User opens the browser, it asks for permission for my app to use scope 1 + scope 2. The authorization of the scopes does work.

POST /token 
Invalid scope from /device_code to get any access tokens.
```

What would be nice:
```
POST /device_code
scope: scope 1 + scope 2

User opens the browser, it asks for permission for my app to use scope 1 + scope 2

POST /token 
scope: scope 1

POST /token 
scope: scope 2
```

What I'm currently doing:
```
POST /device_code
scope: scope 1

User opens the browser, it asks for permission for my app to use scope 1

POST /token 
scope: scope 1

POST /device_code
scope: scope 2

User opens the browser, it asks for permission for my app to use scope 2

POST /token 
scope: scope 2
```

Now in the last case and current implementation the user has to do the flow for every separate resource needed by the app but they only have to do it the first time the app needs the resource. After that the app is allowed to use all the resources and the refresh token will work to get all the necessary access tokens. It just seems odd that there doesn't seem to be a way to do it all in one shot up front and adding a scope parameter to the token endpoint for the device code flow would seem to fix that. Another solution would be that an empty scope parameter to the device code endpoint would prompt the user to allow all the app's defined api scopes but it doesn't seem to do that. RFC 6749 section 3.3 says that there should be docs somewhere stating what the predefined scope is when the scope parameter is omitted but I haven't been able to find that doc for Azure. It seems to default to some minimal set of scopes.

I didn't realize that what I was asking for actually works on the v1.0 version of the api. Guess that solves my issue for now. 

@davidcorrigan714 I understand. I will pass the feedback to the engineering team regarding this. As you have a workaround for the issue, I will go ahead and close the issue for now.