The TXT record name needs to be _dnsauth.subdomain instead of subdomain in order to transfer an existing subdomain without downtime


Step 6 of [this section](https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns#configure-txt-record-with-your-domain-provider) says the following about the name of the TXT record to add:
"@ for root domain, or enter the subdomain"

However, if there is already a CNAME record whose name is the subdomain (as is commonly the case when you are trying to transfer an existing subdomain without downtime), this will fail due to the [RFC1034 section 3.6.2](https://datatracker.ietf.org/doc/html/rfc1034#section-3.6.2) which says “If a CNAME RR is present at a node, no other data should be present;”.

We got confirmation from Digicert and verified through testing that the correct name to use for the TXT record is _dnsauth.subdomain , where subdomain is the subdomain (for example, www).

Note: The underscore at the beginning of _dnsauth is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 190b1ed3-0712-2f19-4e8f-a2a8519d136e
* Version Independent ID: b02adbf4-d2a8-6c84-e70a-ff59fb3cbb7b
* Content: [Set up a custom domain in Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns#configure-txt-record-with-your-domain-provider)
* Content Source: [articles/static-web-apps/custom-domain.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/static-web-apps/custom-domain.md)
* Service: **static-web-apps**
* GitHub Login: @burkeholland
* Microsoft Alias: **buhollan**

@gabesmsft, Thanks for the feedback! We are taking a look into this and will get back to you soon.


I hit this as well and raised https://github.com/MicrosoftDocs/azure-docs/issues/78957.

Also have verified the fix myself

gabesmsft,  timja , The PR is merged and the document reflects the changes. We will close this thread. Thanks for taking time to share your valuable feedback. 

@AjayKumar-MSFT shouldn't https://docs.microsoft.com/en-us/azure/static-web-apps/media/custom-domain/azure-dns-txt.png also be updated as well?