Reply URLs/redirect URls

The new flow does not allow wildcards in reply urls, which we use. I imagine we are not the only ones either as a quick search for the topic shows blog posts that recommend the use of wildcards.

I'm wondering what the alternative would be if this is no longer possible? 
Our use case: We use wildcards so that no matter which path a user hits in our app (they could have been given a link), they will be able to authenticate, then be redirected to the original link.


---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576bf585-3203-731a-a8aa-597ae80b927b
* Version Independent ID: 49969685-794a-29fe-94e8-3f50a668d141
* Content: [App registrations in the Azure portal training guide - Azure](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registrations-training-guide#feedback)
* Content Source: [articles/active-directory/develop/app-registrations-training-guide.md](https://github.com/Microsoft/azure-docs/blob/master/articles/active-directory/develop/app-registrations-training-guide.md)
* Service: **active-directory**
* Sub-service: **develop**
* GitHub Login: @archieag
* Microsoft Alias: **aragra**

@eanyanwu Thanks for your feedback! We will investigate and update as appropriate.

We recommend that you instead use a common redirectURL (eg https://redirect.sharepoint.com) and redirect to the tenant-specific page after receiving your callback in the OAuth flow. Wildcard reply URLs may allow malicious apps to impersonate your app.

I apologize for the inconvenience as that is currently the only solution we have for this. The reason for not accepting wildcard URLs is due to the OAuth2 spec here : https://tools.ietf.org/html/rfc6749#section-3.1.2

> 3.1.2.  Redirection Endpoint
> 
>    After completing its interaction with the resource owner, the
>    authorization server directs the resource owner's user-agent back to
>    the client.  The authorization server redirects the user-agent to the
>    client's redirection endpoint previously established with the
>    authorization server during the client registration process or when
>    making the authorization request.
> 
>    The redirection endpoint URI MUST be an absolute URI as defined by
>    [RFC3986] Section 4.3.  The endpoint URI MAY include an
>    "application/x-www-form-urlencoded" formatted (per Appendix B) query
>    component ([RFC3986] Section 3.4), which MUST be retained when adding
>    additional query parameters.  The endpoint URI MUST NOT include a
>    fragment component.
> 
> 

please let us know if you have anymore questions within the scope of this thread, otherwise I will be closing this out by end of day today. 