Identity Platform returns id tokens but not openid scope


I have a client that is requesting the scopes "https://outlook.office.com/POP.AccessAsUser.All https://outlook.office.com/SMTP.Send openid" from the identity platform. The server responds with the scopes "https://outlook.office.com/POP.AccessAsUser.All https://outlook.office.com/SMTP.Send", but not "openid". However, it still returns an id token. By returning an id token, the server implies that the “openid” scope was authorized. By omitting the “openid” scope from the response, though, the server is explicitly stating that “openid” was not authorized. This is a contradiction that is in violation of the OAuth/OIDC standards. 

The standards state that the server should only send an id token if it has authorized the "openid" scope. It can tell the client that it authorized this scope in two ways:
1. By returning no scopes, thereby implicitly granting all requested scopes
2. By including "openid" (and all other granted scopes) in the response's scopes parameter

What is not allowed under the standards is the current hybrid approach under which some scopes are explicitly granted and others appear to be implicitly granted. 

The major issue with this current approach is that it causes standards-compliant clients to reject the id tokens that are being returned by the server. When the response contains scopes but not "openid", the client will treat the id token as an unknown response parameter and ignore it. This issue can be easily solved by ensuring that the server returns the "openid" scope when it sends an id token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea40460-d69c-5a16-33ce-6c4fa6c6e49f
* Version Independent ID: e3e49ae7-44e3-2dca-e727-4eaf0305a35c
* Content: [Microsoft identity platform overview - Azure - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-overview)
* Content Source: [articles/active-directory/develop/v2-overview.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/v2-overview.md)
* Service: **active-directory**
* Sub-service: **develop**
* GitHub Login: @rwike77
* Microsoft Alias: **ryanwi**

@isc-mcozine 
Thanks for your feedback! We will investigate and update as appropriate.

@hpsin, can you comment on this?  Thanks.

Per the OAuth spec, which is not contradicted by OIDC to my reading - 

```
   scope
         OPTIONAL, if identical to the scope requested by the client;
         otherwise, REQUIRED.  The scope of the access token as
         described by Section 3.3.
```
The token response is correct - the access token you received _is not valid_ for the userinfo endpoint, therefore it is not authorized for the openid scope.  I don't interpret or find anything in the [conformance profiles](https://openid.net/wordpress-content/uploads/2018/06/OpenID-Connect-Conformance-Profiles.pdf) (PDF) that indicates tests or requirements for response scopes. 

Libraries that reject ID tokens based on the authorizations of the access token are not adequate for multi-resource ecosystems. If you have example libraries that do this, we can look at filing issues with them. 

This is touched on in the OIDC spec:
`OpenID Connect Clients use scope values, as defined in Section 3.3 of OAuth 2.0 [RFC6749], to specify what access privileges are being requested for Access Tokens. The scopes associated with Access Tokens determine what resources will be available when they are used to access OAuth 2.0 protected endpoints. Protected Resource endpoints MAY perform different actions and return different information based on the scope values and other parameters used when requesting the presented Access Token.`

Hi @hpsin, 

Thank you for the reply, though I think I may have caused a little confusion. Let me try to restate the behavior I'm seeing and why I think it's an issue.

What I'm seeing:
I request multiple scopes, including openid, from the authorization server. I get a response from the authorization server that includes all of the scopes I requested _except_ openid, as well as a valid access token. However, I also get a _valid_ id token in the same response.

Why I think it's an issue:
I am getting a valid id token, which indicates that the openid scope was granted. However, the response does not include the openid scope, indicating that it was not granted.
One possible (though unlikely) issue here is that the server did not grant the openid scope but still returned a valid id token. This would be a major security issue if true.
The issue I'm more concerned with is the following: The client inspects the scopes that were returned and does not find openid. Therefore, in accordance with section 5.1 of RFC 6749, it ignores the id_token value in the response because, without the openid scope, id_token is an unrecognized value. In this case, the client has a valid id token but doesn't know it and therefore doesn't use it. In situations where the id token is necessary, this will cause issues down the line.

The issue here is not that the access token is not valid for the userinfo endpoint. The issue is that the id token _is_ valid, but the response does not tell me this. The OIDC spec states that access tokens and id tokens are to be included in the same response, along with all of the parameters defined in RFC 6749. As you point out, one of these parameters is scope. Following the letter of the OAuth law, then, the openid scope should be included in the response when it was requested and granted. 

At this point, it seems to me that there is a disconnect between us on the issue of what it means for the server to return the openid scope. Based my reading of the OIDC spec, I believe that the openid scope only exists to request that the authorization server use OIDC. Returning the openid scope, then, only means that OIDC was used successfully. Returning an id token indicates that OIDC authentication was successful. Therefore, when an id token is returned I believe that the openid scope should also be returned. 

Your response indicates to me that you view returning the openid scope differently, though. It seems to me that you view returning the openid scope as giving the access token an additional authorization. However, I don't think that this is the case. Looking at section 5.4 of the OIDC spec, openid is not one of the scopes defined for allowing an access token to authorize access to claims from the userinfo endpoint. Since openid is not one of these scopes, giving an access token the openid scope does not give a client with that token any ability to request claims from the userinfo endpoint. Therefore, I don't think that giving the access token the openid scope gives it any additional authorizations. 

Put another way, the openid scope relates to the id token and not the access token. The behavior I'm describing, then, is not a case of the client rejecting the id token based on the authorizations of the access token. It is a case of the client ignoring the id token because the server did not return the scope that indicates that authentication was successful.

Thanks for expanding on your thinking here - I think you're correct, that we have different interpretations of the spec.  Any and all id_tokens provided by the AS are valid and authorized - otherwise they would not be provided, modulo as you say a security bug.  It's hard to identify why an SDK would go out of its way to ignore the ID token in the scenario where
1. One was requested
2. One was provided
3. The scopes in the response are not empty (because if it is empty the ID token is accepted) 
4. But the scopes also don't include openid. 

I can't really follow the conclusion gained from section 5.1 in the OAuth spec (which very clearly indicates it references access tokens), that lack of a specific scope should be used to reject a token that's not referenced in the spec. 

>Following the letter of the OAuth law, then, the openid scope should be included in the response when it was requested and granted.
I think this is where we ultimately differ. The scope response pertains specifically and only to access tokens.  There is no reason to provide the `openid` scope in the response, because, as you indicate, it is not involved in the use of the access token. 

Azure AD is confusing but consistent here, in that it does include openid/email/profile when one specific resource is requested - Microsoft Graph - because Microsoft Graph hosts our userinfo endpoint for v2. In those cases, the access token returned is valid for the requested scope. 

After reading the specs again in light of what you've said, I can definitely accept your point and the observed behavior. It seems that the OIDC spec is very vague about how to return OIDC scopes and I'm not sure we're going to get a definitive answer. To expand on my point with section 5.1, though, you're right that in the RFC it only refers to access tokens. However, in the RFC all scopes refer to access tokens. Since OIDC introduces scope(s) that refer to id tokens, and OIDC builds on the OAuth spec, I think it makes sense to expand the scopes in the token response to include scopes that refer to id tokens. At the very least, I don't think it causes any issues. It would be nice if the OIDC spec explained exactly how and which OIDC scopes are expected to be returned, though, as we wouldn't have to be here discussing it.  

For what it's worth, I've got my configuration working with requested id tokens that aren't accompanied by the openid scope now. It ultimately hinges on how to define an "unrecognized" parameter, I guess, and by treating requested id tokens as recognized whether or not they're accompanied by the openid scope everything works.  

Good to know about the difference with Graph vs. the other Azure AD resources as well. I think that explains some confusion I've seen in online discussions and anecdotal evidence.

Out of curiosity, is there a scenario where you see returning the openid scope as problematic? Is there something you're trying to avoid with this behavior? Or is it simply that returning the openid scope when returning an id token doesn't seem necessary? 

Thanks - good discussion and an interesting call out of some quirks - hopefully this can help someone in the future. 

Our SDKs cache access tokens based on the scopes indicated in the response. So if you request 'openid' as a scope from the SDK, intending to get an access token from the cache for use against the userinfo endpoint, we want to make sure we give you an access token good for that endpoint.  If we returned the openid scopes on each response, then the SDK wouldn't be able to know which access token is valid against the userinfo endpoint. Thus, to ensure proper caching, we treat all of the scopes (openid, email, profile) as access token scopes that hang off the Graph resource. 

Agreed - I wonder if any of these things are worth bringing to the attention of the OIDC people... Perhaps I'll look into that. 

And if I'm understanding you correctly, what you're saying is that the userinfo endpoint checks incoming access tokens for the openid scope. If an access token has openid, will the endpoint return the basic OIDC claims in response to a request that contains that token? Or does it just check for the presence of openid before going on to check for some of the other scopes like email or profile? If it's the first case, what are the scenarios in which it makes sense to grant the access token the openid scope? Presumably tokens requests with openid in them will result in an id token being returned, so what good is it to also give the access token the ability to get that information?  

@MarileeTurscak-MSFT Hi Marilee. Can you please remove doc-enhancement from the labels? It's an ongoing discussion with PM at the moment so unless it's a definitive ask for docs enhancement it would be more accurate to put product-question for now. Thank you.

You've got it, @isc-mcozine .  We return an access token that's scoped to some selection of openid plus one or both of profile and email. This is a Graph access token, but more importantly it works on the userinfo endpint.  The OIDC scopes in the access token provide additional details about the user - basic information with openid, object ID and name with profile, email address with email. 

All of these details are also seen in the ID token, absolutely.  We built the userinfo endpoint for compatibility with spec-rigid SDKs that assume the presence of a userinfo endpoint. There's no additional value in it, generally speaking, since we have the ID token, and our access tokens also include profile data. 

Looks like this discussion has finished.  Feel free to re-open if necessary.  Thanks.  #please-close