Obsolete EDNS0 RFC referred

```
when performing lookups for Geographic, Performance, and Subnet routing methods, traffic manager also considers the client subnet address if it is included in the query by the resolver making the request on behalf of the end user.  
Specifically, [RFC 7871 – Client Subnet in DNS Queries](https://tools.ietf.org/html/rfc7871) that provides an [Extension Mechanism for DNS (EDNS0)](https://tools.ietf.org/html/rfc2671) which can pass on the client subnet address from resolvers that support it.
```

RFC7871 defined EDNS0 [RFC6891] and not RFC2671.

2671 has been marked obsolete by RFC6891. I would like to confirm if this document intends to refer to RFC6891 instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9522edc-ac04-6c89-e061-59fa788e28ed
* Version Independent ID: 4cafaeee-5b0a-7f50-7c71-a8c3abf4e881
* Content: [Azure Traffic Manager - FAQs](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs)
* Content Source: [articles/traffic-manager/traffic-manager-FAQs.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/traffic-manager/traffic-manager-FAQs.md)
* Service: **traffic-manager**
* GitHub Login: @duongau
* Microsoft Alias: **duau**

@omkarkhair, Thanks for reaching out. We will investigate and update this thread.

@Duongau, could you please provide your insights here and update the document if necessary. 

Hi - I've assumed ownership of this article. I am reassigning the issue to myself. We currently have a large backlog of GitHub issues so I'm prioritizing these and working them as I am able.  Please reply to this thread if you are still experiencing an issue with the article that is referenced, or if you feel the issue can be closed now.  Thanks! #reassign:greg-lindsay

This is being tracked as internal content issue: 96268
#please-close