Authenticating the user/Expected errors could use more details.

The description of the response under "Authenticating the user"/"Expected errors" isn't very helpful. It would be nice to know the HTTP Response codes that should be checked and what fields the JSON response object contains. Is it always a 400 response? Could it be a 500 response?


---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc32c3-9e21-a56a-f876-3e750576f228
* Version Independent ID: 83231247-55a8-e69b-0712-8c7b1481a02d
* Content: [OAuth 2.0 device authorization grant - Microsoft Entra](https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code)
* Content Source: [articles/active-directory/develop/v2-oauth2-device-code.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/active-directory/develop/v2-oauth2-device-code.md)
* Service: **active-directory**
* Sub-service: **develop**
* GitHub Login: @OwenRichards1
* Microsoft Alias: **owenrichards**

@martingbrown 
Thanks for your feedback! We will investigate and update as appropriate.

@OwenRichards1 
Can you please check and add your comments on this doc update request as applicable.

@martingbrown 
I'm going to assign this to the document author so they can take a look at it accordingly.

@martingbrown The HTTP/S status line returned by Entra ID's token issuance services adhere closely to standards outlined in [RFC 7231§3.1](https://datatracker.ietf.org/doc/html/rfc7231#section-6.1).

Suffice to say...
- `4XX` status codes are used when the _client_ has sent a bad, malformed, or otherwise unserviceable request.
- `5XX` status codes are used when the _service_ experiences an issue, such as gateway timeout or outage.

The vast majority of errors that will arise in these circumstances will be `4XX` class errors. I would expect `5XX` errors to show up here only in the event of outage; status page for Azure services can be found [here](https://azure.status.microsoft/en-us/status).

In general, we advise developers to use our MSAL libraries to communicate with our token issuance services; these handle the `try{}/catch{}` of success and error cases. 

For developers coding against the wire protocol, separating success from errors is most important - hardly any `4XX` or `5XX` errors are resolvable without user interaction, with the notable exception of [Claims Challenges](). Any `4XX` class error will be accompanied by error body and `AADSTS` error code. [These are documented here.](https://learn.microsoft.com/en-us/azure/active-directory/develop/reference-error-codes)