Clarification on ' (apostrophe) character

Hi,

The ' character (also known as apostrophe) isn't listed as a valid character in the document, however is is accepted by Azure AD. 

Is it supported or not?

![image](https://user-images.githubusercontent.com/42738824/44966714-24a0e900-af80-11e8-873d-a4534a178912.png)



---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independent ID: 684c7d7c-09f4-8170-6f7a-132b2d79e1df
* Content: [Azure AD Self-service password reset policies](https://docs.microsoft.com/en-gb/azure/active-directory/authentication/concept-sspr-policy#userprincipalname-policies-that-apply-to-all-user-accounts)
* Content Source: [articles/active-directory/authentication/concept-sspr-policy.md](https://github.com/Microsoft/azure-docs/blob/master/articles/active-directory/authentication/concept-sspr-policy.md)
* Service: **active-directory**
* GitHub Login: @MicrosoftGuyJFlo
* Microsoft Alias: **joflore**

@bubbletroubles Thanks for the feedback! We are currently investigating and will update you shortly.

Thanks - also I noticed the UPN format is based on RFC 822. However RFC 822 has been superseded by RFC 5321, RFC 5322, and these permit an apostrophe in the local part of the address. 

Also the page at https://docs.microsoft.com/en-us/windows/desktop/ad/naming-properties states "A UPN is an Internet-style login name for a user based on the Internet standard RFC 822."

@bubbletroubles I can verify. Yes it seems ' is allowed as valid character for user name. I will assign this issue to content author to further investigate and update the document accordingly.

Resolving in a private PR

#please-close

Folks, reading up looks like you're mixing up an apostrophe ` with a single quote '.  Azure AD doesn't appear to support an apostrophe in UPN, and you can validate this by trying to create a cloud only user or trying to sync a hybrid user with ` in the name. IDFix will also flag a character error too. @MicrosoftGuyJFlo @MohitGargMSFT